%container
	%header
		%h1 Abakada converter
		%small Convert texts into Filipino Abakada Phonetics!
		
	%content
		%div.tab
			%h2 Your texts
			%label
				%textarea#textinput.textfield Magtype ng kahit ano
		%div.tab
			%h2 Converted
			%label
				%textarea#textoutput.textfield 
	%footer
		%span Maraming Salamat kina Rey Amio at Mervin Malonzo sa kanilang kontribusyon ng mga Pilipinong salita sa applikasyong eto. Mabuhay tayong lahat!
